* {
    box-sizing: border-box;
    color: #333333;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fffdfa;
}

.container {
    max-width: 850px;
}

.content {
    display: grid;
    gap: 30px;
    margin: 60px auto;
    text-align: center;
}

.button {
    border: none;
    border-radius: 5px;
    background-color: #ea4e43;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 50px;

    &:hover {
        background-color: #d73223;
        transition: 0.2s;
    }
}